<a href="https://colab.research.google.com/github/jibook/git-remote/blob/master/20_class_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nums = [11, 22, 33]
it =iter(nums)

while True:
  try:
    num = next(it)
  except StopIteration:
    break
  print(num)

11
22
33

In [ ]:
# Generator 사용한 경우
def sep_gen(data):
  for idx in range(0, len(data), 2):
    yield data[idx:idx+2]

solar_time = sep_gen("입춘우수경칩푼분청명곡우입하소만망종하지소서대서")
for k in solar_time:
  print(k, end=', ')

입춘, 우수, 경칩, 푼분, 청명, 곡우, 입하, 소만, 망종, 하지, 소서, 대서,

In [ ]:
# Generator 사용하지 않은 경우

data = "입춘우수경칩푼분청명곡우입하소만망종하지소서대서"

for k in (data[idx: idx+2] for idx in range(0, len(data), 2)):
  print(k, end=', ')

입춘, 우수, 경칩, 푼분, 청명, 곡우, 입하, 소만, 망종, 하지, 소서, 대서,

In [ ]:
def add(a, b):
  print(a+b)

plus = add
plus(3,2)

5

In [ ]:
def calc_sum(n):
  def add(a,b):
    return a+b
  sum = 0
  for i in range(n+1):
    sum = add(sum, i)
  return sum

print("~100 = ", calc_sum(100))

~100 =  5050

In [ ]:
def inner():
  print("결과 출력")

def outer(func):
  print('-'*20)
  func()
  print('-'*20)

outer(inner)

--------------------
결과 출력
--------------------

In [ ]:
def inner():
  print('이지현 짱')

def outer(func):
  def wrapper():
    print('-'*20)
    func()
    print('-'*20)
  return wrapper

inner = outer(inner)
inner()

--------------------
이지현 짱
--------------------

In [ ]:
def para(func):
  def wrapper():
    return "<p>"+str(func())+"</p>"
  return wrapper

@para
def outname():
  return 'James Bond'

@para
def outage():
  return '27'

print(outname())
print(outage())

<p>James Bond</p>
<p>27</p>

In [ ]:
def para(func):
  def wrap(*args, **kwargs):
    return "<p>"+str(func(*args, **kwargs))+"</p>"
  return wrap

@para
def outname(name):
  return 'Name' + name

@para
def outage(age):
  return 'Age' + str(age)

print(outname('James Bond'))
print(outname.__name__)
print(outage(27))
print(outage.__name__)

<p>NameJames Bond</p>
wrap
<p>Age27</p>
wrap